<div class="flex mb-4">
  <div class="buttons">
    <h5 class="me-3" style="margin-bottom: 0;">Pedidos</h5>
    <button type="button" class="btn btn-outline-success" (click)="addPedido()">
      <mat-icon class="me-2">add</mat-icon>Novo
    </button>
  </div>
</div>
<ng-container *ngFor="let pedido of pedidos">
  <div class="accordion" id="pedidos">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#detalhePedido' + pedido.id" aria-expanded="true"
          [attr.aria-controls]="'detalhePedido' + pedido.id">
          {{pedido.id}}
        </button>
      </h2>
      <div id="detalhePedido{{pedido.id}}" class="accordion-collapse collapse" data-bs-parent="#pedidos">
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of itens">
                <tr>
                  <td>{{item.produto.descricao}}</td>
                  <td>{{item.quantidade}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
