.formCliente {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.alert {
  max-width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}
