<div class="flex mb-4">
  <h1>Produtos</h1>
  <div class="buttons">
    <button type="button" class="btn btn-outline-secondary">
      <mat-icon class="me-2">add</mat-icon>Novo
    </button>
    <button type="button" class="btn btn-outline-secondary ms-3">
      <mat-icon class="me-2">edit</mat-icon>Editar
    </button>
    <button type="button" class="btn btn-outline-secondary ms-3">
      <mat-icon class="me-2">delete</mat-icon>Excluir
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Caneta Azul</td>
    </tr>
  </tbody>
</table>
