<div class="flex mb-4">
  <div class="buttons">
    <h5 class="me-3" style="margin-bottom: 0;">Produtos</h5>
    <button type="button" class="btn btn-outline-success" (click)="addProduto()">
      <mat-icon class="me-2">add</mat-icon>Novo
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Descrição</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let produto of produtos">
      <tr>
        <th scope="row">{{produto.id}}</th>
        <td>{{produto.descricao}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning ms-3" (click)="editProduto(produto)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button type=" button" class="btn btn-outline-danger ms-3" (click)="deleteProduto(produto.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
