<div class="row options">
  <div class="col-4">
    <button id="cliente" class="btn btn-outline-secondary" routerLink="lista-cliente">
      <img src="../../assets/cliente.png" class="img-fluid">
      <h2>Cliente</h2>
    </button>
  </div>
  <div class="col-4">
    <button id="produto" class="btn btn-outline-secondary" routerLink="lista-produto">
      <img src="../../assets/produto.png" class="img-fluid">
      <h2>Produto</h2>
    </button>
  </div>
  <div class="col-4">
    <button id="pedido" class="btn btn-outline-secondary">
      <img src="../../assets/pedido.png" class="img-fluid">
      <h2>Pedido</h2>
    </button>
  </div>
</div>
<div id="painel" class="painel">
  <router-outlet></router-outlet>
</div>
