<div class="row options">
  <div class="col-4">
    <button id="cliente" class="btn btn-outline-secondary" routerLink="cliente" routerLinkActive="active">
      <img src="../../assets/cliente.png" class="img-fluid">
      <h4>Cliente</h4>
    </button>
  </div>
  <div class="col-4">
    <button id="produto" class="btn btn-outline-secondary">
      <img src="../../assets/produto.png" class="img-fluid">
      <h4>Produto</h4>
    </button>
  </div>
  <div class="col-4">
    <button id="pedido" class="btn btn-outline-secondary">
      <img src="../../assets/pedido.png" class="img-fluid">
      <h4>Pedido</h4>
    </button>
  </div>
</div>
<div id="painel" class="painel">
  <router-outlet></router-outlet>
</div>
