<div class="row options">
  <div class="col-4">
    <button id="cliente" class="btn btn-outline-secondary" routerLink="lista-cliente">
      <h4>Cliente</h4>
    </button>
  </div>
  <div class="col-4">
    <button id="produto" class="btn btn-outline-secondary" routerLink="lista-produto">
      <h4>Produto</h4>
    </button>
  </div>
  <div class="col-4">
    <button id="pedido" class="btn btn-outline-secondary" routerLink="lista-pedido">
      <h4>Pedido</h4>
    </button>
  </div>
</div>
<div id="painel" class="painel">
  <router-outlet></router-outlet>
</div>
