<div class="flex mb-4">
  <h5>Clientes</h5>
  <div class="buttons">
    <button type="button" class="btn btn-outline-secondary" (click)="addCliente()">
      <mat-icon class="me-2">add</mat-icon>Novo
    </button>
    <button type="button" class="btn btn-outline-secondary ms-3">
      <mat-icon class="me-2">edit</mat-icon>Editar
    </button>
    <button type="button" class="btn btn-outline-secondary ms-3">
      <mat-icon class="me-2">delete</mat-icon>Excluir
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">CPF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>João</td>
      <td>V. Paltanin</td>
      <td>000.000.000-00</td>
    </tr>
  </tbody>
</table>
