<div class="flex mb-4">
  <div class="buttons">
    <h5 class="me-3" style="margin-bottom: 0;">Clientes</h5>
    <button type="button" class="btn btn-outline-success" (click)="addCliente()">
      <mat-icon class="me-2">add</mat-icon>Novo
    </button>
  </div>
  <div class="buttons">
    <input class="form-control me-2 pesquisa" type="search" placeholder="Pesquisar">
    <button class="btn btn-outline-primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">CPF</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cliente of clientes">
      <tr>
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.sobrenome}}</td>
        <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning ms-3" (click)="editCliente(cliente.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger ms-3">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
