.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pesquisa {
  width: 500px;
}

button {
  display: flex;
  margin: 0 !important;
}

h1 {
  margin: 0;
}
