::ng-deep {
  legend {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 24px;
  }

  .flex-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .flex2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .flex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .scroll {
    max-height: 200px;
    overflow: auto;
  }

  .alert {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
  }
}
