<h1 mat-dialog-title>Novo Pedido</h1>
<div mat-dialog-content>
  <div *ngIf="this.validaQtd" class="alert alert-warning">
    <mat-icon class="me-2">warning</mat-icon>
    Quantidade informada inválida
  </div>
  <form class="formProduto" [formGroup]="pedidoForm">
    <fieldset>
      <legend>Informe os dados do cliente</legend>
      <hr>
      <div class="row mb-3">
        <div class="col-10">
          <label for="cpf" class="form-label">CPF <span style="color: red;">*</span></label>
          <input id="cpf" class="form-control" formControlName="cpf" type="text" [matAutocomplete]="auto"
            [attr.disabled]="this.disableInputCpf" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredCpfs" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-2 flex-col">
          <button class="btn btn-outline-primary" type="submit" style="display: flex;" (click)="getClienteByCpf()"
            [disabled]="!this.meetCpf">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="nome" class="form-label">Nome</label>
          <input class="form-control" type="text" id="nome" value="{{this.cliente !=null ? this.cliente.nome : ''}}"
            disabled>
        </div>
        <div class="col">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input class="form-control" type="text" id="sobrenome"
            value="{{this.cliente !=null ? this.cliente.sobrenome : ''}}" disabled>
        </div>
      </div>
    </fieldset>
    <fieldset class="mt-3">
      <legend>Selecione os itens do pedido</legend>
      <hr>
      <div class="row mb-3">
        <div class="col scroll">
          <ul class="list-group">
            <ng-container *ngFor="let produto of produtos">
              <li class="list-group-item flex-list">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="idProd{{produto.id}}"
                    (click)="createItemPedido(produto.id)">
                  <label class="form-check-label" for="checkProduto">
                    {{produto.descricao}}
                  </label>
                </div>
                <input class="form-control form-control-sm" type="number" id="idQtdProd{{produto.id}}" name="quantidade"
                  value="1" min="1" max="100" style="max-width: 65px;">
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="col scroll">
          <ng-container *ngFor="let item of itensPedido">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{item.produto.descricao}}
                <span class="badge bg-primary rounded-pill">{{item.quantidade}}</span>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <div mat-dialog-actions>
    <button class="btn btn-danger me-3" mat-button (click)="closeModal()" cdkFocusInitial>Fechar</button>
    <button type="submit" class="btn btn-success" mat-button (click)="createPedido()"
      [disabled]="pedidoForm.pristine || pedidoForm.invalid || itensPedido.length < 1">Salvar</button>
  </div>
</div>
