<h1 mat-dialog-title>Novo Pedido</h1>
<div mat-dialog-content>
  <form class="formProduto" [formGroup]="pedidoForm">
    <fieldset>
      <legend>Dados do Cliente</legend>
      <hr>
      <div class="row mb-3">
        <div class="col-10">
          <div>
            <label for="nome" class="form-label">Nome <span style="color: red;">*</span></label>
            <input id="nome" class="form-control" formControlName="nome" type="text" [matAutocomplete]="auto"
              [attr.disabled]="this.disableInputNome" />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredNomes" [value]="item">
                {{item}}
              </mat-option>
            </mat-autocomplete>

          </div>
        </div>
        <div class="col-2 flex-col">
          <button class="btn btn-outline-primary" type="submit" style="display: flex;" (click)="getClienteByName()"
            [disabled]="!this.meetCliente">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input class="form-control" type="text" id="sobrenome"
              value="{{this.cliente !=null ? this.cliente.sobrenome : ''}}" disabled>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input id="cpf" name="cpf" class="form-control"
              value="{{this.cliente !=null ? (this.cliente.cpf | mask: '000.000.000-00') : ''}}" disabled>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <div mat-dialog-actions>
    <button class="btn btn-danger me-3" mat-button (click)="closeModal()" cdkFocusInitial>Fechar</button>
    <button type="submit" class="btn btn-success" mat-button (click)="createPedido()"
      [disabled]="pedidoForm.pristine || pedidoForm.invalid">Salvar</button>
  </div>
</div>
